html {
  font-size: 10px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #ffc425;
  background: linear-gradient(to bottom, #ffc425 50%, #eaaa00 100%);
  background-attachment: fixed;
}

.beer {
  background: #fff;
  padding: 1rem;
  border-top: 1.5rem solid #e13e45; /* This is color line for each beer card */
  flex: 1 0 auto;
  margin: 2rem;
  overflow: hidden;
  width: calc(33.3% - 4rem);
  box-shadow: 0 0 10px rgba(13,24,28,0.2);
  transition: all 0.2s;
}

.beer:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 2px rgba(13,24,28,0.3);
}

.beer a {
  text-decoration: none;
}

.beer h2 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.beers {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

/* Single Beer View */
.single-beer {
max-width: 500px;
margin: 0 auto;
background: #fff;
padding: 2rem;
}

.single-beer .label {
  width: 100%;
}

.single-beer img {
  max-width: 100%;
}

.single-beer h3 {
  font-size: 2rem;
}

.glass img {
  float: left;
  width: 200px;
}

/* Loader */
.loader {
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}
